{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script>
        // var weekDays = {{ week_days|safe }};
        // var mondayDate = {{ current_week_monday }};
        // var typeOfWeek = "{{ typeOfWeek }}";
        // var kids = {{ kids|safe }};
        //console.log('kids', kids)
        //console.log('mondayDate', mondayDate)
        //console.log(typeOfWeek)
    </script>
    <title></title>
  </head>
  <body>
  <div id="root">
    </div>
    <script src='{% static "js/re.ui.js" %}'></script>
  </body>
</html>
